body{
    background:rgb(231, 224, 224);
    font-family:helvetica;
     
  }

  #container{
      width:500px;
      margin: 0px auto;
      border: 1px solid gray;
       

  }
    
































