{*margin:0px; padding:0px;}

body{
    background:rgb(231, 224, 224);
    font font-family:arial,helvetica,sans-serif;
   

} 

.main{
  display: flex;
  flex-direction: column ;
  
}


.form{
  text-align: center;
  align-items: center;
}
 
    


 





























